input{
    width: 430px;
	margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}

#main-wrapper{
	border-radius : 40px;
	background-color: white;
	border: 3px solid #2d3436;
	width: 500px;
	margin: 0 auto;
}
.inner_container{
	width:450px;
	margin:0 auto;
}
.login_button {
    background-color: #d39e00;
    color: white;
	margin-top:10px;
	margin-bottom:15px;
    padding:10px;
    width: 100%;
    font-family:Courier New;
	font-size:18px;
	font-weight: bold;
}
.register_btn{
	background-color: #cc7a00;
    color: white;
	margin-top:10px;
	margin-bottom:15px;
	padding:10px;
    width: 100%;
    font-family:Courier New;
	font-size:18px;
	font-weight: bold;
}
.update_btn{
    background-color: #0984e3;
    color: white;
	margin-top:10px;
	margin-bottom:15px;
	padding:10px;
    width: 100%;
    font-family:Courier New;
	font-size:16px;
	font-weight: bold;
	
}
.back_btn{
	margin-top:10px;
	color: white;
	margin-bottom:15px;
    padding: 10px;
    font-family:Courier New;
    background-color: #d39e00;
    font-weight: bold;
}
.logout_button{
	background-color: #c0392b;
    color: white;
	margin-top:10px;
    padding:10px;
    width: 100%;
    font-family:Courier New;
	font-size:18px;
	font-weight: bold;
}

.sign_up_btn {
	background-color: #cc7a00;
    color: white;
	 padding:10px;
	margin-top:10px;
	margin-bottom:10px;
    width: 100%;
    font-family:Courier New;
	font-size:16px;
	font-weight: bold;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    margin: 16px;
	width:100%;
}

.upload{
  width: 125px;
  position: relative;
  margin: auto;
}

.upload img{
  border-radius: 50%;
  border: 8px solid #DCDCDC;
}

.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}